body {
    font-family:Lato;
    color:#ccff00;
    margin:0;
    background:#1a1a1a;
    text-align:center;
}

p{
    text-align:center;
    margin:0;
    color:#ccff00;
}

select{
    width:134px;
    background:#333;
    font-size:12px;
    color:#ccff00;
    border-radius:5px;
    border:none;
    padding:12px;
    text-transform:uppercase;
    margin:5px;
}

.nmb{
    font-size:10px;
}

#sels{
    margin:10px 0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.title{
   border-bottom: 2px solid #cf0;
   padding:6px 0;
   background:#141414;
}
.title p:nth-child(1){
    font-weight:300;
    font-size:20px;
}

.title p:nth-child(2){
    font-weight:600;
    font-size:27px;
}

#input{
    width:300px;
    margin:10px auto;
    font-weight:300;
    text-align:center;
}

input{
   display:block;
   width:265px;
   height:40px;
   padding:0 15px;
   margin:auto;
   color:#cf0;
   background:#333;
   border:none;
   border-radius:5px;
   font-size:18px;
   font-family:Lato;

}

#output{
    margin:10px auto;
    width:300px;
    text-align:center;
    font-weight:300;
}

#proc{
   background:#333;
   color:#cf0;
   width:100px;
   font-weight:600;
   font-size:16px;
   padding:10px;
   margin:15px auto;
   text-align:center;
   border:2px solid #cf0;
   border-radius:5px;
   letter-spacing:1px;
}

#proc:hover{
    background:#cf0;
    cursor:pointer;
    color:#000;
}

@media screen and (min-width:720px) {
    #sels {
        margin-top: 150px;
    }
}